[Unit]
Description=MetalBond Server
After=network.target

[Service]
Type=simple
User=metalbond
WorkingDirectory=/usr/share/metalbond
ExecStart=/usr/sbin/metalbond server \
    --listen [::]:4711 \
    --http [::1]:4712 \
    --keepalive 5
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
